@using LeagueTracker.DTOs
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager

@{
  LeagueStatistics leagueStatistics = ViewData["LeagueStatistics"] as LeagueStatistics;
  List<ClubAndStatsDto> clubAndStatsDtos = ViewData["ClubsAndStats"] as List<ClubAndStatsDto>;
  List<string> userClubs = ViewData["UserClubs"] as List<string>;
  List<Season> seasons = ViewData["Seasons"] as List<Season>;
  List<League> leagues = ViewData["Leagues"] as List<League>;

  ViewData["Title"] = "League Table";
}

<!DOCTYPE html>

<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="css/league.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/site.js"></script>
</head>
<body>

<div class="container border p-2">
  <div class="container">
    <h1>
        @if (leagueStatistics != null)
        {
          @leagueStatistics.League.Name
        }
      </h1>
  </div>

  <form method="get" action="@Url.Action("Index", "League")">
    <label for="leagueName">Choose league:</label>
    <select class="dropdown-primary" name="leagueName" id="leagueName">
      @foreach (var league in leagues)
      {
        <option value=@league.Name>@league.Name</option>
      }
    </select>
    <br/>
    <label for="seasonId">Choose season:</label>
    <select name="seasonId" id="seasonId">
      @foreach (var season in seasons)
            {
              <option value=@season.Id>@season.StartYear/@season.EndYear</option> 
            }
    </select>
    <br/>
    <input class="btn btn-primary" type="submit" value="Search"/>
  </form>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Club</th>
      <th scope="col">MP</th>
      <th scope="col">W</th>
      <th scope="col">T</th>
      <th scope="col">L</th>
      <th scope="col">Pts.</th>
      @if (SignInManager.IsSignedIn(User))
      {
        <th scope="col">Follow</th>
      }
    </tr>
    </thead>
    <tbody>
    @if (clubAndStatsDtos != null)
    {
      foreach (var club in clubAndStatsDtos)
      {
        <tr>
          <th scope="row">@(clubAndStatsDtos.IndexOf(club) + 1)</th>
          <td class="club-name" data-club-id="@club.Id">@club.Name</td>
          <td>@club.PlayedMatches</td>
          <td>@club.WonMatches</td>
          <td>@club.TiedMatches</td>
          <td>@club.LostMatches</td>
          <td>@club.Points</td>
          @if (SignInManager.IsSignedIn(User))
          {
            @if (userClubs != null && userClubs.Contains(club.Name))
            {
              <td><button class="favorite" type="submit" data-club-id="@club.Id"><i class="bi bi-heart-fill" style="color: red"></i></button></td>
            }
            else
            {
              <td><button class="favorite" type="submit" data-club-id="@club.Id"><i class="bi bi-heart-fill"></i></button></td>
            }
            
          }
        </tr>
      }
    }
    </tbody>
  </table>
</div>

<div id="club-matches"></div>

</body>
</html>